<section id='portfolio'>
  <div class="container">
    <div class="row-default">
      <h1 class="heading">{{ page.header.title }}</h1>
      <div class="row">
        <div class="one-half column">
          <h4>Foobar</h4>
          {{ content }}
        </div>
        <div class="one-half column">
          <h4>Foobar</h4>
          {{ content }}
        </div>
      </div>
      <div class="row">
        <div class="one-half column">
          {{ content }}
        </div>
        <div class="one-half column">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>